@font-face {
    font-family: 'Brown';
    src: url('/Content/fonts/promo/brown/Brown-Regular.eot');
    src: url('/Content/fonts/promo/brown/Brown-Regular.eot?#iefix') format('embedded-opentype'),
        url('/Content/fonts/promo/brown/Brown-Regular.woff') format('woff'),
        url('/Content/fonts/promo/brown/Brown-Regular.ttf') format('truetype'),
        url('/Content/fonts/promo/brown/Brown-Regular.svg#Brown-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/Content/fonts/promo/brown/Brown-Bold.eot');
    src: url('/Content/fonts/promo/brown/Brown-Bold.eot?#iefix') format('embedded-opentype'),
        url('/Content/fonts/promo/brown/Brown-Bold.woff') format('woff'),
        url('/Content/fonts/promo/brown/Brown-Bold.ttf') format('truetype'),
        url('/Content/fonts/promo/brown/Brown-Bold.svg#Brown-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/Content/fonts/promo/brown/Brown-Light.eot');
    src: url('/Content/fonts/promo/brown/Brown-Light.eot?#iefix') format('embedded-opentype'),
        url('/Content/fonts/promo/brown/Brown-Light.woff') format('woff'),
        url('/Content/fonts/promo/brown/Brown-Light.ttf') format('truetype'),
        url('/Content/fonts/promo/brown/Brown-Light.svg#Brown-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brown';
    src: url('/Content/fonts/promo/brown/Brown-RegularItalic.eot');
    src: url('/Content/fonts/promo/brown/Brown-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/Content/fonts/promo/brown/Brown-RegularItalic.woff') format('woff'),
        url('/Content/fonts/promo/brown/Brown-RegularItalic.ttf') format('truetype'),
        url('/Content/fonts/promo/brown/Brown-RegularItalic.svg#Brown-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
