body
  font-family: Brown
  font-weight: normal
  color: #202020
  &.is-fixed
    overflow: hidden

h1
h2
h3
h4
h5
h6
  font-family: Brown
  font-weight: normal

.container
  width: 100%
  max-width: 1220px
  padding: 0 10px
  margin: 0 auto

.is-filled
  background-color: colorBcgGrey

.is-black
  color: black

.is-green
  color: colorGreen
