screen = {
  desktop: 1023px,
  tablet: 767px
}

mobile()
  @media screen and (max-width screen.tablet)
    {block}

tablet()
  @media (min-width screen.tablet) and (max-width screen.desktop)
    {block}
tablet-max()
  @media screen and (max-width screen.desktop)
    {block}