a
  color: inherit
  text-decoration: none
  &:hover,
  &:active,
  &:focus,
  &:visited
    text-decoration: none
    outline: none

input
  border: none
  background-color: transparent
  padding: 0
  -webkit-appearance: none
  &:hover,
  &:active,
  &:focus,
  &:visited
    outline: none

ul
  margin: 0
  padding: 0
  list-style-type: none

button
  cursor: pointer
  -webkit-appearance: none
  background-color: transparent
  outline: none
  border: none
  padding: 0
  color: currentColor
  &:hover,
  &:active,
  &:focus,
  &:visited
    outline: none

img
  max-width: 100%;
  // max-height: 100%;

*
  box-sizing: border-box;

h1,h2,h3,h4,h5,h6,p
  margin: 0
