.field-validation-error
   color: #c0514f
   
.checkbox
   position: relative
   display: block
   margin-top: 36px
   margin-bottom: 10px
   
.checkbox label
   min-height: 20px
   padding-left: 20px
   margin-bottom: 0
   font-weight: 400
   cursor: pointer
   max-width: 100%

.checkbox input[type=checkbox]
   position: absolute
   margin-top: 4px\9
   margin-left: -20px
   -webkit-appearance: checkbox
   width: 15px
   min-height: 100%
   top: 2px

.disabled
   pointer-events: none
   
.form__cart-img   
   width: 89px
   height: 96px

