.cart
  width: 100%
  max-width: 1022px
  padding: 56px 10px 10px 10px
  margin: 0 auto

  &__title
    color: colorGreen
    font-size: 54px
    font-weight: 300
    text-transform: uppercase
    text-align: center
    letter-spacing: 6px
    +mobile()
      font-size: 28px
