.evolution
  width: 100%
  padding: 67px 0
  text-align: center
  color: #737373

  &__content
    width: 100%
    padding-bottom: 30px

  &__title
    font-size: 48px
    font-weight: 900
    letter-spacing: 1px
    text-transform: uppercase
    +mobile()
      font-size: 40px

  &__subtitle
    padding: 16px 0 28px 0
    font-size: 36px
    font-weight: 900
    letter-spacing: 1px
    text-transform: uppercase
    +mobile()
      font-size: 26px
    & sup
      top: -11px
      font-size: 21px

  &__desc
    font-size: 26px
    font-weight: 300
    letter-spacing: 1.5px
    +mobile()
      font-size: 20px

  &__row
    display: flex
    justify-content: center
    padding-top: 27px
    +mobile()
      flex-direction: column

  &__list
    display: flex
    flex-wrap: wrap
    align-items: baseline
    justify-content: center
    padding-top: 8px

  &__list-wrap:not(:first-of-type)
    +mobile()
      padding-top: 27px

  &__list-item
    padding: 8px 5px 0 5px

  &__list-title
    text-transform: uppercase
    font-size: 19px
    letter-spacing: 1px
    &.is-light-brown
      color: #deb26f
    &.is-brown
      color: #5e391a
    &.is-dark-red
      color: #ca6a7a
    &.is-green
      color: colorGreen
    &.is-light-green
      color: #95be70

  &__img
    display: flex
    justify-content: center
    width: 110px

  &__type
    padding-top: 21px
    font-size: 11px

  &__name
    font-size: 11px
