.fiftyoff-challenge
  padding: 68px 0 0 0;
  text-align: center;
  max-width: 800px;
  color: #535353;
  &__title
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 24px;
    +mobile()
      font-size: 20px;

  &__paragraph
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 29.17px;
    letter-spacing: 0.46px;
    +mobile()
      font-size: 16px;
      padding: 0 20px 0 20px;