.fiftyoff-proposal
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 55px;
  +mobile()
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

  & .shrooms-proposal
    & .evolution__title
      font-size: 29px;

    & .evolution__subtitle
      font-size: 38px;

  & .shrooms-evolution-list
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;

  & .shrooms-evolution-column
    padding: 0 10px 0 10px;

  & .is-brown
    color: #5b3616;

  & .has-brown-border
    border: 2px solid #5b3616;

  &__content
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 60px;

  &__img
    width: 242px;
    height: 245px;
    margin-bottom: 42px;

  & .proposal__title
    font-size: 35px;
    font-weight: bold;

  & .evolution__title
    color: #706f74;
    font-size: 38px;
    margin-top: 45px;

  & .evolution__subtitle
    color: #706f74;
    font-size: 29px;
    padding: 0 0 20px 0;

  & sup 
    font-size: 9px;

  & .evolution__desc
    color: #737373;
    font-size: 14px;
    line-height: 16.85px;

  &__benefits
    max-width: 400px;
    margin-top: 30px;
    border: 2px solid #7cd5af;
    padding: 0 5px 25px 0;
    position: relative;

    & .benefits-icon
      position: absolute;
      right: -25px;
      top: -25px;
      width: 89px;
      height: 66px;
      +mobile()
        display: none;

    & h4
      color: #706f74;
      font-size: 17px;
      text-transform: uppercase;
      display: block;
      padding-top: 15px;

  & .proposal__list
    columns: 116px 2;
    font-size: 11px;
    text-align: left;
    padding-top: 15px;
    +mobile()
      columns: 1;

  & .evolution__list-title
    font-size: 12px;

  & .evolution__type, .evolution__name
    font-size: 8px;

  & .evolution__type
    padding-top: 5px;

  & .evolution__name
    padding-bottom: 10px;

  & .evolution__img
    width: 60px;

