.fiftyoff-start
  margin-bottom: 50px;
  &__title
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    color: #706f74;

  & .start
    box-shadow: -1px 21px 26px 9px rgba(187, 187, 187, 0.32);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(246,246,246,1) 100%);
     
  &__small-title
    letter-spacing: 2.04px;
    color: #706f74;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;

  &__green-line
    width: 78px;
    height: 2px;
    background-color: #07af68;
    margin: 30px 0 0 0;

  &__title-green
    font-weight: 700;

  &__description
    color: #706f74;
    font-size: 28px;
    font-weight: 300;
    max-width: 370px;
    margin-top: 30px;

  &__btn
    border: 2px solid #07af68!important;
    color: #706f74!important;

  &__img
    padding: 40px 90px 20px 40px;
    +mobile()
      padding: 40px 0 20px 0;
