.final
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  max-width: 660px
  padding: 33px 10px
  margin: 0 auto
  font-weight: normal
  color: #737373
  font-size: 18px
  +mobile()
    padding: 30px 10px

  &__wrap
    display: flex
    justify-content: center
    padding: 21px 0
    +mobile()
      padding: 15px 0
      flex-direction: column

  &__content
    display: flex
    flex-direction: column
    align-items: center

  &__title
    padding-top: 7px
    text-align: center
    font-size: 19px
    letter-spacing: 0.5px
    +mobile()
      padding-top: 0
      font-size: 15px
    & sup
      top: -15px
      font-size: 15px

  &__subtitle
    color: #7a4a19
    padding-top: 11px
    font-size: 19px
    letter-spacing: 0.5px
    text-align: center
    +mobile()
      padding-top: 5px
      font-size: 15px

  &__btn
    cursor: pointer
    padding: 0 31px
    margin-top: 10px
    color: white
    background-color: #7a4a19
    font-weight: normal
    border-radius: 20px
    font-size: 10px
    line-height: 28px
    letter-spacing: 1px
    &:hover
      background-color: #583511
      +tablet-max()
        background-color: #7a4a19

  &__big-btn
    padding: 10px 35px
    margin-top: 18px
    text-align: center
    border: 2px solid #7f5100
    border-radius: 17px
    +mobile()
      margin-top: 10px
      padding: 10px

  &__big-btn-title
    font-size: 28px
    font-weight: normal
    +mobile()
      font-size: 15px

  &__big-btn-desc
    padding-top: 10px
    +mobile()
      padding-top: 5px
      font-size: 15px

  &__big-btn-link
    color: #7a4a19
    transition: all .3s ease
    &:hover
      color: colorRed

  &__img-wrap
    max-width: 50vw
    margin: 0 auto

  &__list
    padding-top: 5px
    columns: 100px 2
    list-style-type: disc
    color: #737373
    font-size: 12px
    letter-spacing: .5px
    +mobile()
      padding-top: 0
      columns: 1

  &__list-item
    padding-top: 13px
    +mobile()
      padding-top: 5px

  &__text-brown
    font-size: 15px
    text-transform: uppercase
    color: #7a4a19

  &__price
    padding-top: 20px
    font-size: 18px
    text-transform: uppercase
    color: #7a4a19
    +mobile()
      padding-top: 10px

  &__text-grey
    font-size: 10px
    padding-top: 5px

  &__desc
    padding: 12px 30px 20px 30px
    letter-spacing: 1px
    line-height: 20px
    +mobile()
      padding: 0

  &__link
  &__website
    font-size: 14px
    letter-spacing: 3px
    text-transform: uppercase
    font-weight: 300

  &__link
    margin-top: 22px
    font-weight: bold

  &__website
    margin-top: 7px
