.footer
  width: 100%
  color: white
  background-color: #929292
  font-weight: 300

  &__main
    display: flex
    width: 100%
    max-width: 904px
    padding: 37px 10px 32px 10px
    margin: 0 auto
    +mobile()
      flex-direction: column
      justify-content: center
      align-items: center

  &__logo
    width: fit-content
    height: fit-content
    flex-shrink: 0
    margin: 0 22px

  &__nav
    display: flex
    flex-wrap: wrap
    padding: 0 0 0 9px
    +mobile()
      flex-direction: column
      padding 20px 0

  &__nav-item-wrap
    width: 50%
    +mobile()
      width: 100%

  &__nav-item
    line-height: 26px
    transition: all .3s ease
    &:hover
      color: #494949

  &__socials
    +mobile()
      text-align: center

  &__socials-wrap
    display: flex

  &__socials-title
    font-size: 17px
    font-weight: 300
    padding: 3px 0 22px 0

  &__social
    display: flex
    justify-content: center
    align-items: center
    flex: none
    width: 23px
    height: 23px
    margin: 0 4px
    background-color: #fff
    border-radius: 50%
    transition: all .3s ease
    &:hover
      background-color: #494949
      +tablet-max()
        background-color: #fff
    & img
      width: 12px

  &__bottom
    background-color: #494949
    text-align: center
    padding: 8px
    font-size: 16px
    +mobile()
      font-size: 14px
