.form
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding-top: 47px
  color: #929292
  +mobile()
    padding-top: 0

  &__wrap
    display: flex
    justify-content: space-between
    width: 100%
    +tablet-max()
      flex-direction: column
      align-items: center

  &__col
    &.is-left
      width: 460px
      margin-right: 10px
      +tablet-max()
        max-width: 490px
        width: 100%
        margin: 0

    &.is-right
      width: 490px
      margin-left: 10px
      +tablet-max()
        max-width: 490px
        width: 100%
        margin: 0

  &__set
    width: 100%
    padding: 36px 46px 36px 26px
    margin-top: 20px
    background-color: #f6f6f6
    border-radius: 10px

  &__col.is-right .form__set
    padding: 36px 30px

  &__title
    text-transform: uppercase
    color: #494949
    font-size: 23px
    letter-spacing: 1.3px
    padding-bottom: 10px
    +mobile()
      font-size: 18px
      padding-bottom: 0

  &__row
    display: flex
    justify-content: space-between
    width: 100%
    +mobile()
      flex-direction: column

  &__item
    width: 100%
    padding-top: 30px
    +mobile()
      padding-top: 27px

    &.is-half
      width: calc(50% - 20px)
      +mobile()
        width: 100%
      &:first-of-type
        margin-right: 10px
        +mobile()
          margin-right: 0

  &__input
    width: 100%
    height: 35px
    padding: 0 5px
    margin-top: 8px
    border-radius: 4px
    background-color: white
    color: #494949

  select&__input
    border-color:#fff

  &__label
    font-size: 21px
    font-weight: 300
    +mobile()
      font-size: 18px

  &__cart-row
    font-size: 21px
    font-weight: 300
    padding-bottom: 23px
    margin-bottom: 20px
    border-bottom: 1px solid #dcdcdc
    &:last-of-type
      border: none
      padding-bottom: 10px
      margin: 0

  &__cart-product
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding-top: 28px
    +mobile()
      flex-direction: column
      align-items: flex-start

  &__cart-amount
    display: flex
    justify-content: space-between
    width: 305px
    +mobile()
      width: 100%
      padding-top: 23px

  &__cart-img
    position: relative
	
  &__cart-count
    position: absolute
    top: -10px
    right: -10px
    width: 24px
    height: 24px
    background-color: #929292
    border-radius: 50%
    color: white
    text-align: center
    line-height: 28px
    font-size: 16px
    font-weight: normal

  &__cart-coupon
    padding-bottom: 14px

  &__cart-coupon-controls
    display: flex
    align-items: center
    justify-content: space-between
    +mobile()
      flex-direction: column

  &__cart-coupon-promo
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 15px

  &__cart-coupon-promo-name
    font-size: 29px
    font-weight: normal
    +mobile()
      font-size: 18px
      line-height: 28px

  &__cart-remove-promo
    font-size: 14px
    color: #07af68
    font-weight: 500

  &__cart-input
    height: 47px
    padding: 0 5px
    margin: 0 5px 0 12px
    background-color: white
    border: 1px solid #929292
    border-radius: 4px;
    color: #494949
    +mobile()
      margin: 0

  &__cart-btn
    height: 40px
    min-width: 169px
    color: white
    background-color: colorGreen
    font-weight: normal
    border-radius: 20px
    &:hover
      background-color: #079157
    +mobile()
      padding: 0
      margin-top: 15px

  &__cart-big-btn
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    padding: 15px
    color: #494949
    text-align: center
    border-radius: 10px
    border: 1px solid #7f5100
    background-color: transparent
    transition: background-color .3s ease
    &:hover
      background-color: rgba(0,0,0,.03)
      +tablet-max()
        background-color: transparent
    & .highlighted
      color: #7a4a19

  &__cart-big-btn-title
    font-size: 28px
    font-weight: 300

  &__cart-big-btn-desc
    padding-top: 10px

  &__cart-name
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-right: 10px

  &__remove-product
    margin-top: 10px
    font-size: 12px
    color: #07af68
    font-weight: 500

  &__cart-price
    white-space: nowrap

  &__cart-sub
    display: flex
    justify-content: space-between
    padding-top: 23px

  &__cart-total
    display: flex
    justify-content: space-between
    padding-top: 5px
    font-size: 29px
    font-weight: normal

  &__addition
    width: 100%
    padding: 14px 14px
    font-style: italic
    line-height: 17px
    text-align: justify

  &__submit
    height: 114px
    margin: 33px 0
    padding: 0 80px
    border-radius: 57px
    color: white
    background-color: colorGreen
    font-size: 30px
    font-weight: bold
    transition: all .3s ease
    &:hover
      background-color: #079157
      +tablet-max()
        background-color: colorGreen
    +mobile()
      height: 100px
      padding: 0 20px
      font-size: 30px

  &__exp-date
    margin-top: 30px

  &__exp-date-label
    font-size: 21px
    font-weight: 300

  &__exp-date-controls
    display: flex
    justify-content: space-between
    margin-top: 8px

  &__exp-date-select
    position: relative
    width: 46%
    height: 35px
    padding: 0 5px
    font-size: 14px
    border-radius: 4px
    color: #494949
    background-color: #fff
    border: none
    outline: none