.header
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  max-width: 1070px
  padding: 74px 20px 35px 20px
  margin: 0 auto
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 31px
    background-color: #494949

  &__logo
    z-index: 2

  &__nav
    display: flex
    flex: none
    align-items: baseline
    +tablet-max()
      position fixed
      top 0
      right 0
      flex-direction: column
      transform: translateX(100%)
      width: 100%
      height: 100%
      padding: 174px 20px 35px 20px
      background-color: #fff
      box-shadow: 0px 16px 40px rgba(149, 157, 177, 0.1)
      pointer-events: none
      z-index: 1
      transition all .3s ease
    &.is-opened
      +tablet-max()
        transform: translateX(0)
        pointer-events: all

  &__nav-item
    margin-left: 20px
    line-height: 1.1
    font-family: Brown
    font-size: 14px
    color: #999999
    text-decoration: none
    transition: all .3s ease
    +tablet-max()
      margin: 10px 0 0 0
      font-size: 20px

    &:hover
      color: colorRed
    &.is-button
      padding: 8px 22px
      border-radius: 25px
      background-color: colorRed
      font-size: 17px;
      color: white
      +tablet-max()
        margin-top: 30px
      &:hover
        background-color: #494949

  &__nav-btn
    display: none
    +tablet-max()
      display: block
      position: relative
      width: 32px
      height: 18px
      margin-left: 18px
      z-index: 1

    &:after
    &:before
      content: ''
      position: absolute
      left: 0
      height: 1px
      width: 100%
      background-color: #494949
      transition: all .5s ease

    &:before
      top: 0
    &:after
      bottom: -1px

    &.nav-opened
      &::before
        top: 50%
        transform: translateY(-50%) rotate(-45deg)
      &::after
        top: 50%
        transform: translateY(50%) rotate(45deg)
