.learn-more
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;

  &__title
    color: #07af68;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    +mobile()
      font-size: 15px;

  & .line 
    height: 3px;
    width: 78px;
    background-color: #07af68;
    margin: 0 10px;
    +mobile()
      height: 2px;
      width: 40px;

  &__video-row
    display: flex;
    align-items: center;
    justify-content: center;
    +mobile()
      flex-direction: column;

  & .video__wrap
    width: 100%;
    max-width: 369px;
    max-height: 208px;
    margin: 0 30px;
    +mobile()
      margin-bottom: 30px;