.modal
  position: fixed
  z-index: 1
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  padding: 30px
  background-color: rgba(0,0,0,.5)
  opacity: 0
  pointer-events: none
  transition: all .3s ease
  &.is-opened
    opacity: 1
    pointer-events: all

  &__inner
    position: relative
    width: 100%
    max-width: 700px
    background-color: #fff
    +mobile()
      padding-top: 35px
      // height: 100%
      max-height: 100%
      overflow: scroll
      -webkit-overflow-scrolling: touch

  &__close
    cursor: pointer
    position: absolute
    top: 20px
    right: 20px
    width: 20px
    height: 20px
    opacity: .5
    transition: opacity .3s ease
    &:hover
      opacity: 1
      +tablet-max()
        opacity: .5
    &:before
    &:after
      content: ''
      position: absolute
      top: 50%
      left: 0
      width: 100%
      height: 2px
      background-color: #444
    &:before
      transform: rotate(-45deg)
    &:after
      transform: rotate(45deg)
