.proposal
  display: flex
  justify-content: center
  padding: 51px 0
  +tablet-max()
    flex-direction: column
    justify-content: flex-start
    align-items: center

  &__content
    display: flex
    flex-direction: column
    align-items: center

  &__title
    padding-top: 7px
    color: colorGreen
    text-align: center
    font-size: 40px
    letter-spacing: 1.5px
    text-transform: uppercase
    +tablet-max()
      padding-top: 30px
    +mobile()
      font-size: 28px
    & sup
      top: -15px
      font-size: 15px

  &__subtitle
    padding-top: 16px
    font-size: 16px
    font-weight: 900
    letter-spacing: 3px

  &__list
    padding-top: 25px
    columns: 200px 2
    list-style-type: disc
    list-style-position: inside
    color: #737373
    font-size: 20px
    letter-spacing: 1px
    +mobile()
      columns: 1

  &__list-item
    padding-top: 16px
    padding-left: 15px
