.quotes
  padding-top: 70px
  text-align: center
  color: #333333

  &__title
    font-size: 27px
    letter-spacing: 1px
    +mobile()
      font-size: 20px

  &__item
    position: relative
    max-width: 940px
    padding: 32px 103px 14px 103px
    margin: 48px auto
    border: 1px solid #e1e1e1
    background-color: colorBcgGrey
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05)
    font-size: 24px
    font-weight: 300
    line-height: 35px
    +tablet-max()
      padding: 32px 50px 14px 50px
    +mobile()
      padding: 20px
      font-size: 18px
      line-height: 22px
    &:before
      content: ''
      position: absolute
      top: -33px
      left: 50%
      transform: translateX(-50%)
      width: 60px
      height: 60px
      background-image: url('/Content/images/promo/quotes.png')
      background-size: cover
      background-position: center
      background-repeat: no-repeat

  &__content
    padding-bottom: 36px
    text-align: justify
    text-indent: 20px
    +mobile()
      padding-bottom: 15px
