 .loader-container 
    position: fixed
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 100%
    visibility: hidden


.loader-container.visible 
    visibility: visible

.transparent-container 
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    background-color: #3f3f3f
    opacity: 0.2
    visibility: hidden

.transparent-container.visible 
    visibility: visible

.lds-ring 
    display: inline-block
    position: relative
    width: 106px
    height: 106px

.lds-ring div 
    box-sizing: border-box
    display: block
    position: absolute
    width: 100px
    height: 100px
    margin: 6px
    border: 15px solid #07af68
    border-radius: 50%
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
    border-color: #07af68 transparent transparent transparent

.lds-ring div:nth-child(1) {
            animation-delay: -0.45s
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

