.standards
  width: 100%

  &__title
    color: colorGreen
    text-align: center
    font-size: 27px
    letter-spacing: 1px
    text-transform: uppercase

  &__list
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding-top: 20px
    align-items: center

  &__list-item
    padding: 9px
