.start
  display: flex
  justify-content: flex-end
  padding-bottom: 24px
  +tablet-max()
    flex-direction: column-reverse
    justify-content: flex-start
    align-items: center

  &__img
    margin-top: -12px
    +tablet-max()
      padding-left: 30px
      margin-top: 0
	  
  &__video
    max-width: 600px
    padding-top: 40px
    margin: 0 auto
    width: 100%

  &__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    padding 65px 48px 0 40px
    +tablet-max()
      width: 100%
      padding: 40px 30px
    +mobile()
      padding 20px 0 0 0

  &__title
    font-size: 35px
    font-weight: 300
    +mobile()
      font-size: 28px
    & sup
      top: -13px
      font-size: 16px

  &__title-small
    font-size: 12px

  &__title-green
    padding-top: 23px
    color: colorGreen
    font-size: 50px
    max-width: 450px
    line-height: 1.1
    margin: 0 auto
    +mobile()
      padding-top: 20px
      font-size: 30px

  &__btn
    display: flex
    align-items: center
    height: 76px
    padding: 0 24px 0 22px
    margin-top: 26px
    border: 2px solid black
    border-radius: 35px
    font-family: Brown
    font-size: 20px
    background-color: transparent
    transition: all .3s ease
    +mobile()
      margin-top: 20px
    &:hover
      background-color: #dbe1de
      +tablet-max()
        background-color: transparent
    & img
      padding-left: 5px
