.subscribe
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  max-width: 420px
  padding: 73px 10px
  margin: 0 auto
  font-weight: normal
  color: #737373
  font-size: 18px
  text-align: center
  +mobile()
    padding: 30px 10px

  &__title
  &__subtitle
    font-size: 35px
    color: colorGreen
    +mobile()
      font-size: 28px

  &__title
    font-weight: bold

  &__number
    padding-top: 27px;
    text-transform: uppercase
    letter-spacing: 1px;

  &__desc
    padding: 12px 30px 20px 30px
    letter-spacing: 1px
    line-height: 20px
    +mobile()
      padding: 0
      font-size: 14px
      margin-bottom: 10px

  &__link
  &__website
    font-size: 14px
    letter-spacing: 3px
    text-transform: uppercase
    font-weight: 300

  &__link
    margin-top: 22px
    font-weight: bold

  &__website
    margin-top: 7px
