.testimonials
  display: flex
  align-items: center
  max-width: 508px
  padding: 10px 20px
  background-color: colorBcgGrey
  font-size: 11px
  +mobile()
    flex-direction: column
    align-items: center

  &__img
    flex: none
    width: 50px
    height: 50px
    border-radius: 50%
    background-size: cover
    background-position: center
    background-repeat: no-repeat

  &__content
    margin-left: 30px
    +mobile()
      margin-left: 0
      margin-top: 20px
      text-align: center

  &__stars
    display: flex
    margin-top: 4px
    +mobile()
      justify-content: center

  &__star
    width: 10px
    height 10px
    margin-right: 3px

  &__name
    font-size: 14px

  &__text
    margin-top: 10px
    font-size: 12px
    line-height: 15px
