.video
  padding-top: 18px
  text-align: center
  color: #737373

  &__title
    max-width: 700px
    margin: 0 auto
    font-size: 31px
    line-height: 34px

  &__wrap
    max-width: 860px
    max-height: 526px
    padding-top: 40px
    margin: 0 auto

  &__item
    position: relative
    height: 0
    padding-bottom: 56.25% /* 16:9 */
    & iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
